name: Tests & Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/

      - name: Setup PNPM
        uses: pnpm/action-setup@v3.0.0
        with:
          version: 9.11.0

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Build package
        run: pnpm package

      - name: Lint
        run: pnpm lint

      - name: Astro & Svelte Check
        run: pnpm check

  tests:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20, 22]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          registry-url: https://registry.npmjs.org/

      - name: Setup PNPM
        uses: pnpm/action-setup@v3.0.0
        with:
          version: 9.11.0

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Build package
        run: pnpm package

      - name: Test
        run: pnpm test
        env:
          VITE_CLOUDINARY_CLOUD_NAME: svelte-cloudinary
